<a href="https://colab.research.google.com/github/drmurtazakhan/Python/blob/main/sqlite3_create_TRADEDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Created on Wed Sep 25 12:53:04 2024

@author: Dr. Murtaza Ali Khan
"""

'\nCreated on Wed Sep 25 12:53:04 2024\n\n@author: Dr. Murtaza Ali Khan\n'

In [2]:
# Importing the sqlite3 library to work with SQLite databases.
import sqlite3

In [3]:
# Establishing a connection to the database file
connection = sqlite3.connect("TRADE_DB");

In [4]:
# Creating a cursor object to execute SQL queries
cursor = connection.cursor()

In [5]:
# Creating a tabl
cursor.execute("CREATE TABLE ITEM (ItemCode TEXT, PurchaseDate DATE, ItemName TEXT, ItemPrice REAL, Category TEXT)")

In [6]:
# Inserting multiple rows
cursor.execute("INSERT INTO ITEM VALUES('1', '2024-09-27', 'Pizza', 2.0, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('2', '2024-09-27', 'Bread', 0.50, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('3', '2024-09-28', 'Apple', 1.0, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('4', '2024-09-28', 'Banana', 0.5, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('5', '2024-09-28', 'Mango', 1.0, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('6', '2024-09-29', 'Pen', 1.0, 'Stationary')")
cursor.execute("INSERT INTO ITEM VALUES('7', '2024-09-29', 'Notebook', 2.0, 'Stationary')")
cursor.execute("INSERT INTO ITEM VALUES('8', '2024-09-30', 'Markers', 1.0, 'Stationary')")
cursor.execute("INSERT INTO ITEM VALUES('9', '2024-10-01', 'Chair', 2.0, 'Furniture')")
cursor.execute("INSERT INTO ITEM VALUES('10', '2024-10-01', 'Table', 3.0, 'Furniture')")
cursor.execute("INSERT INTO ITEM VALUES('11', '2024-10-02', 'Keyboard', 2.0, 'Electronics')")
cursor.execute("INSERT INTO ITEM VALUES('12', '2024-10-02', 'Mouse', 2.0, 'Electronics')")
cursor.execute("INSERT INTO ITEM VALUES('13', '2024-10-03', 'Calculator', 1.0, 'Electronics')")
cursor.execute("INSERT INTO ITEM VALUES('14', '2024-10-03', 'USB Memory', 1.0, 'Electronics')")

In [7]:
# Saving the changes made to the database.
connection.commit()

In [8]:
# Retrieving all rows from the ITEM table and printing them.
row = cursor.execute("SELECT * FROM ITEM").fetchall()
print(row)

[('1', '2024-09-27', 'Pizza', 2.0, 'Food'), ('2', '2024-09-27', 'Bread', 0.5, 'Food'), ('3', '2024-09-28', 'Apple', 1.0, 'Food'), ('4', '2024-09-28', 'Banana', 0.5, 'Food'), ('5', '2024-09-28', 'Mango', 1.0, 'Food'), ('6', '2024-09-29', 'Pen', 1.0, 'Stationary'), ('7', '2024-09-29', 'Notebook', 2.0, 'Stationary'), ('8', '2024-09-30', 'Markers', 1.0, 'Stationary'), ('9', '2024-10-01', 'Chair', 2.0, 'Furniture'), ('10', '2024-10-01', 'Table', 3.0, 'Furniture'), ('11', '2024-10-02', 'Keyboard', 2.0, 'Electronics'), ('12', '2024-10-02', 'Mouse', 2.0, 'Electronics'), ('13', '2024-10-03', 'Calculator', 1.0, 'Electronics'), ('14', '2024-10-03', 'USB Memory', 1.0, 'Electronics')]

In [9]:
# Iterating through each row in the ITEM table and printing it.
for row in cursor.execute("SELECT * FROM ITEM"):
    print(row)

('1', '2024-09-27', 'Pizza', 2.0, 'Food')
('2', '2024-09-27', 'Bread', 0.5, 'Food')
('3', '2024-09-28', 'Apple', 1.0, 'Food')
('4', '2024-09-28', 'Banana', 0.5, 'Food')
('5', '2024-09-28', 'Mango', 1.0, 'Food')
('6', '2024-09-29', 'Pen', 1.0, 'Stationary')
('7', '2024-09-29', 'Notebook', 2.0, 'Stationary')
('8', '2024-09-30', 'Markers', 1.0, 'Stationary')
('9', '2024-10-01', 'Chair', 2.0, 'Furniture')
('10', '2024-10-01', 'Table', 3.0, 'Furniture')
('11', '2024-10-02', 'Keyboard', 2.0, 'Electronics')
('12', '2024-10-02', 'Mouse', 2.0, 'Electronics')
('13', '2024-10-03', 'Calculator', 1.0, 'Electronics')
('14', '2024-10-03', 'USB Memory', 1.0, 'Electronics')

In [10]:
# Closing the database connection.
connection.close()

## ResearchGate: http://www.researchgate.net/profile/Murtaza_Khan2/
## LinkedIn: https://www.linkedin.com/in/dr-murtaza-ali-khan-3b368019
## Google Scholar: https://scholar.google.com/citations?user=n0JDQ0sAAAAJ
## Scopus: https://www.scopus.com/authid/detail.uri?authorId=7410318323
## GitHub: https://github.com/drmurtazakhan