<a href="https://colab.research.google.com/github/drmurtazakhan/Python/blob/main/sqlite3_Create_TRADE_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import the sqlite3 library to work with SQLite databases
import sqlite3

In [3]:
# Establish a connection to the database named "TRADE_DB"
# If the database doesn't exist, it will be created
connection = sqlite3.connect("TRADE_DB");

In [4]:
# Create a cursor object to execute SQL commands
cursor = connection.cursor()

In [5]:
# Create a table named "ITEM" with columns for ItemCode, PurchaseDate, ItemName, ItemPrice, and Category
cursor.execute("CREATE TABLE ITEM (ItemCode TEXT, PurchaseDate DATE, ItemName TEXT, ItemPrice REAL, Category TEXT)")

In [6]:
# Insert data into the ITEM table
cursor.execute("INSERT INTO ITEM VALUES('1', '2024-09-27', 'Pizza', 2.0, 'Food')")

In [7]:
# Insert more data into the ITEM table
cursor.execute("INSERT INTO ITEM VALUES('2', '2024-09-27', 'Bread', 0.50, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('3', '2024-09-28', 'Apple', 1.0, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('4', '2024-09-28', 'Banana', 0.5, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('5', '2024-09-28', 'Mango', 1.0, 'Food')")
cursor.execute("INSERT INTO ITEM VALUES('6', '2024-09-29', 'Pen', 1.0, 'Stationary')")
cursor.execute("INSERT INTO ITEM VALUES('7', '2024-09-29', 'Notebook', 2.0, 'Stationary')")
cursor.execute("INSERT INTO ITEM VALUES('8', '2024-09-30', 'Markers', 1.0, 'Stationary')")
cursor.execute("INSERT INTO ITEM VALUES('9', '2024-10-01', 'Chair', 2.0, 'Furniture')")
cursor.execute("INSERT INTO ITEM VALUES('10', '2024-10-01', 'Table', 3.0, 'Furniture')")
cursor.execute("INSERT INTO ITEM VALUES('11', '2024-10-02', 'Keyboard', 2.0, 'Electronics')")
cursor.execute("INSERT INTO ITEM VALUES('12', '2024-10-02', 'Mouse', 2.0, 'Electronics')")
cursor.execute("INSERT INTO ITEM VALUES('13', '2024-10-03', 'Calculator', 1.0, 'Electronics')")
cursor.execute("INSERT INTO ITEM VALUES('14', '22024-10-03', 'USB Memory', 1.0, 'Electronics')")

In [8]:
# Commit the changes to the database to make them permanent
connection.commit()

In [9]:
# Fetch all rows from the ITEM table and store them in the 'row' variable
row = cursor.execute("SELECT * FROM ITEM").fetchall()
print(row)

[('1', '2024-09-27', 'Pizza', 2.0, 'Food'), ('2', '2024-09-27', 'Bread', 0.5, 'Food'), ('3', '2024-09-28', 'Apple', 1.0, 'Food'), ('4', '2024-09-28', 'Banana', 0.5, 'Food'), ('5', '2024-09-28', 'Mango', 1.0, 'Food'), ('6', '2024-09-29', 'Pen', 1.0, 'Stationary'), ('7', '2024-09-29', 'Notebook', 2.0, 'Stationary'), ('8', '2024-09-30', 'Markers', 1.0, 'Stationary'), ('9', '2024-10-01', 'Chair', 2.0, 'Furniture'), ('10', '2024-10-01', 'Table', 3.0, 'Furniture'), ('11', '2024-10-02', 'Keyboard', 2.0, 'Electronics'), ('12', '2024-10-02', 'Mouse', 2.0, 'Electronics'), ('13', '2024-10-03', 'Calculator', 1.0, 'Electronics'), ('14', '22024-10-03', 'USB Memory', 1.0, 'Electronics')]

In [10]:
# Iterate through each row in the ITEM table and print it
for row in cursor.execute("SELECT * FROM ITEM"):
    print(row)

('1', '2024-09-27', 'Pizza', 2.0, 'Food')
('2', '2024-09-27', 'Bread', 0.5, 'Food')
('3', '2024-09-28', 'Apple', 1.0, 'Food')
('4', '2024-09-28', 'Banana', 0.5, 'Food')
('5', '2024-09-28', 'Mango', 1.0, 'Food')
('6', '2024-09-29', 'Pen', 1.0, 'Stationary')
('7', '2024-09-29', 'Notebook', 2.0, 'Stationary')
('8', '2024-09-30', 'Markers', 1.0, 'Stationary')
('9', '2024-10-01', 'Chair', 2.0, 'Furniture')
('10', '2024-10-01', 'Table', 3.0, 'Furniture')
('11', '2024-10-02', 'Keyboard', 2.0, 'Electronics')
('12', '2024-10-02', 'Mouse', 2.0, 'Electronics')
('13', '2024-10-03', 'Calculator', 1.0, 'Electronics')
('14', '22024-10-03', 'USB Memory', 1.0, 'Electronics')

In [11]:
# Close the database connection
connection.close()